section{
margin-bottom:1%;
}
.card-aboutme{
    padding:auto;
    text-align: start;
    
}
h3{
    text-align: center;
    padding-bottom: 2%;;
}
.honorableMention{
    text-align: left;
    margin-left:5%;
}
.info{
    color:'white';
}