
.honorableMention{
display: flex;
flex-wrap: wrap;
}
.randomFactBtn{
    color:white;
}
#randomFactTextArea{
    width: 100%;
    max-height:auto;
    background-color: darkgrey;
    text-align: center;
}
.profilePic{
    border:.2em double black;
    border-radius:.5em ;
    
    width:175px;
    height: 175px;
    /* add media query for 4k */
}
.card-aboutme-Header{
display: flex;

text-align: center;
}
.honorableMention{
    margin-right:auto ;
}
.card-aboutme-Body{
    text-align:center;
}
.aboutme-section{
    margin-bottom:3em ;
}