.myProjectsCard-body{
    background-color: #ededed;
}
.technologies-List{
    border: rgb(191, 191, 191) solid 1px;
    display: flex;
    flex-wrap: wrap;
    text-align: left ;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none; 
    padding:5px;
}
.technologies-List li{
    margin: 2px;
    background-color: rgb(227, 227, 227);
    }
.technologies-List-liTitle{
    font-weight: 600;
}