.handlePage {
  text-align: center;
}

/* Nav */
nav {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
.nav-link:hover {
  cursor: pointer;
  background-color: rgb(61, 61, 61);
}
a.nav-link {
  margin: 5px 10px;
  color: black;
  font-weight: 300;
}
a.nav-link:hover {
  background-color: #f0f0f0;
  color: #000000;
}
a.nav-link:active {
  background-color: rgb(211, 211, 211);
}
.navDiv {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 621px) {
  a.nav-link {
    height: 60px;
  }
}

/* my-projects styles */
.myProjects-Title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  margin-top: 3%;
}
.card-title {
  color: white;
}
.btn-group {
  border-radius: 5px;
}

/* About Me */
.aboutMePtag {
  color: white;
  font-size: larger;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
  position: relative;
}

.hidden {
  display: none;
}
