.row{
 
    margin: 2rem;
  }

.projectCard{
    background-color:darkgrey;
}
.navDiv{
    display: flex;
    justify-content: center;
  
    background-color: darkkhaki;
    
    margin-bottom: 50px;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content:space-between;
}
.thisit{
background-color:darkslategray;
}
img{
    max-width: 50rem;
}
.card-body{
background-color: darkslategray;
}
.footer{
    background-color: khaki;
}
html{
    background-color: darkslategray;

}
.btn-group{
    background-color: khaki;
}
.ptag{
    background-color: darkgrey;
}
