.row{
 
    margin: 2rem;
  }

/* .projectCard{
    background-color:#73926C;
} */
.navDiv{
    display: flex;
    justify-content: center;
  
    background-color: black;
    
    margin-bottom: 50px;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content:space-between;
}
.handlePage{
background-color:#73926C;
}
/* img{
    max-width: 50rem;
} */
/* .card-body{
background-color: darkslategray;
} */

html{
    background-color: darkslategray;

}


 
.nameTitle{
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding-top:00px;
    position: sticky;

 
}
a.nav-link{
    color:  rgb(247, 247, 247);
    background-color: black;
}

.card-body{
background-color: rgb(13, 67, 102);
border: 5px solid rgb(14, 2, 80);
border-radius: 5px;

}

.card-title {
color:rgb(255, 255, 255);
border-bottom: solid rgb(0, 0, 0);

}

.card-text{
    padding: 20px;
    
    color: rgb(243, 243, 243);
  
    border-radius: 5px;
}

.btn-group{
    background-color: rgb(24, 43, 128);
    /* width: 100%; */
    max-width: auto;
    border-radius: 10px;

}


.footerDiv{
    text-align: center;
    background-color: #73926C;
}

.bg-image{
   text-align: center;
    object-fit: cover;
   justify-content: space-between;
  
}
.technologies {
    
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

header{
    background-color: black;
}
.container{



 padding: 20px;
}
.card{
    margin: auto;
    
    padding: 10px;
    max-width:60%;
    border: 5px solid red;

}

/* @media screen and (min-width: 375px) {
    .card-body{
        max-width: auto;
    }
  } */